div {
    width:980px;
    height: 500px;
    padding: 25px 10px 0px 10px; /*top right bottom left*/
    margin-top: 25px;
    margin-bottom: 75px;
}

.bigimage {
    width: 500px;
    height: 450px;
    padding: 0px 0px 15px 0px; /*top right bottom left*/
    background-color: none;
}

.smallimage {
    width: 275px;
    height: 140px;
    padding: 0px 10px 15px 10px; /*top right bottom left*/
    background-color: none;
}

img {
    padding: 0px;
}

h2 {
    margin: 0px;
    padding-top: 155px; 
    font-size: 20px;   
}

button {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    width: 185px;
    float: left;
}

footer{

    display: inline; /*change to block to put back to normal weirdness*/
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px;    
}

footer #foot{
    background-color: #eee;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding: 15px 0px 15px 0px;
    height: inherit;
}
