.bigImage img{
    width: 500px;
    height: 470px;
    float: left;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
}

.smallImages img{
    width: 200px;
    height: 150px;
    padding: 10px 10px 0px 0px;
    float: left;
}

div{
    background-color: lightgreen;
    padding: 0px;
    display: block;
    float: none;
}

.dest div{
    width: 1000px;
    height: 500px;
    padding: 25px 10px 20px 10px; /*top right bottom left*/
    margin-bottom: 50px;
}

.bigImage div{
    width: 500px;
    background-color: lightcoral;
}