html, body, footer, null{
    width: 1000px;
}

h1{
    font-size: 25px;
    font-family: 'Space Mono', sans-serif;
    padding-left: 10px;
}

h2{
   font-family: 'Space Mono', sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

h3{
    font-family: 'Space Mono', sans-serif;
    font-size: 18px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
  
img{
    float: left;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

footer{
    text-align: center;
    font-size: 10px;
    display: inline; /*change to block to put back to normal weirdness*/
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

header{
    height: 100px;
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
    font-family: 'Space Mono', sans-serif;
    text-align: right;
    background-color: #eee;
    margin-bottom: 16px;
}

#treva{
    padding: 22px 5px 5px 5px; /*top right bottom left*/
    height: 45px;
    width: auto;
    object-fit: scale-down;
}

header #nav ul{
    list-style-type: none;
    padding: 0px 0px 0px 0px; /*top right bottom left*/
}

header #nav li{
    display: inline-block;
    padding: 25px 0px 25px 0px; /*top right bottom left*/
}

header #nav li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 30px 25px 30px; /*top right bottom left*/
}

header #nav li a:hover{
    color: white;
    background-color: #333;
}

header #nav li a.active{
    background-color: #666;
    color: white;
}

section{
    background-color: aliceblue;
}

div{
    background-color: beige;
    padding: 10px;
    display: inline-block;
    float: left;
    width: 300px;
}

body{
    width: 100%;
}

a{
    color: blue;
}

button{
    width: 100%;
}

button:focus{
    background-color: lightgray;
}
