html, body, footer, null{
    width: 1000px;
}

h1{
    font-size: 25px;
    font-family: 'Space Mono', sans-serif;
    padding-left: 10px;
    text-align: left;
}

h2{
   font-family: 'Space Mono', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
}

h3{
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px;
}
  
img{
    float: left;
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding-right: 25px;
}

footer{

    display: inline; /*change to block to put back to normal weirdness*/
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px;    
}

footer #foot{
    background-color: #eee;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding: 15px 0px 15px 0px;
}

header{
    height: 100px;
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
    font-family: 'Space Mono', sans-serif;
    text-align: right;
    background-color: #eee;
    margin-bottom: 16px;
}

#treva{
    padding: 22px 5px 5px 5px; /*top right bottom left*/
    height: 45px;
    width: auto;
    object-fit: scale-down;
}

header #nav ul{
    list-style-type: none;
    padding: 0px 0px 0px 0px; /*top right bottom left*/
}

header #nav li{
    display: inline-block;
    padding: 25px 0px 25px 0px; /*top right bottom left*/
}

header #nav li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 30px 25px 30px; /*top right bottom left*/
}

header #nav li a:hover{
    color: white;
    background-color: #333;
}

header #nav li a.active{
    background-color: #666;
    color: white;
}

#dropdown{
    padding: 0px;
    
}

div #nav{
    height: 66px;
    width: 1000px;;
    font-size: 12px;
    padding: 0px;
    font-family: 'Space Mono', sans-serif;
    text-align: center;
    background-color: #eee;
    margin: 0px;                              /*remove to get margin between bigImage and dropdown*/
    margin-bottom: 0px;
}

div #nav ul{
    width: 1000px;
    list-style-type: none;
    padding: 0px 0px 0px 0px; /*top right bottom left*/
}

div #nav li{
    display: inline-block;
    padding: 25px 0px 25px 0px; /*top right bottom left*/
    position: relative;
}

div #nav li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 30px 14px 30px; /*top right bottom left*/
}

div #nav li ul{
    padding: 0px 10px 10px 0px;
    margin: 0px;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    display: none;         /*change to none!!!*/
    position: absolute;
    background-color: #eee;
}

div #nav li:hover #head{
    color: white;
    background-color: #333;
}

div #nav li:hover ul{
    display: block;
    background-color: #eee;
    color: #333;
}

div #nav li ul li{
    background-color: inherit;
    width: 200px;
    padding: 10px 10px 10px 0px;/*top right bottom left*/
}

div #nav li ul li a{
    padding: 10px;
    width: 100px;
}

div #nav li ul li a:hover{
    color: white;
    background-color: #333;
}

div #nav li a:hover{
    color: white;
    background-color: #333;
}

ul{
    display: inline-block;
    list-style-type: circle; 
}

ul li{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 0;
}

div{
   /* background-color: beige;*/
    padding-top: 16px;
    padding-bottom: 16px; 
    display: inline-block;
    width: 1000px;
    text-align: left;
    padding-left: 10px;
}

body{
    width: 100%;
}

a{
    color: blue;
}

button{
    width: 100%;
}

button:focus{
    background-color: lightgray;
}

.stack{
    width: 310px;
    display: inline-block;
    text-align: left;
    padding-right: 0px;
    margin: 0px;
}
