html, body{
    width: 1000px;
}

.bgimg {
    background-image: url(../images/galaxy2.jpg); 
    background-position: top;
    background-size: cover;
    width: 100%;
    padding: 0px;
    
}

#overlay {
    color: white;
    background: none;
    text-align: center;
    height: 400px;
    object-fit: cover;
    line-height: 130px;
    width: 1000px;
    padding: 0px;
    margin: 0px;
}

h1{
    font-size: 40px;
    text-align: center;
}

.drop-menu{
    padding: 0px;
    margin: 0px;
    width: 100%
}