html, body{
    width: 1000px;
}

.bgimg {
    background-image: url(../images/galaxy2.jpg); 
    background-position: top;
    background-size: cover;
    width: 100%;
    padding: 0px;
    
}

#overlay {
    color: white;
    background: none;
    text-align: center;
    height: 400px;
    object-fit: cover;
    line-height: 130px;
    width: 1000px;
    padding: 0px;
    margin: 0px;
}

h1{
    font-size: 40px;
    text-align: center;
    padding: 25px;
}

h2{
    font-size: 25Px;
    text-align: center;
    padding: 25px;
}

h3{
    font-size: 18px;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

.drop-menu{
    padding: 0px;
    margin: 0px;
    width: 100%
}

#homepage{
    width: 325px;
    display: inline-block;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

#home-pic{
    width: 325px;
    height: 325px;
}

#home-pic-long{
    width: 650px;
    height: 325px;
}

#doubleWide{
    width: 325px;
    display: inline-block;
    text-align: left;
    padding-right: 326px;
    margin: 0px;
}

p{
    padding-left: 25px;
    padding-right: 25px;
}