#price{
    width: 310px;
    display: inline-block;
    text-align: center;
    padding-right: 0px;
    margin: 0px;
}

p{
    max-width: 39ch;
    padding-bottom: px;
}

.stack h2{
}

.stack h3{

}

.stack img{
    float: left;
}

div{
    padding: 0px; 
    display: block;
    width: 1000px;
    text-align: left;
    padding-left: 10px;
}